includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mrpunyapal/peststan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 6
    configDirectories:
        - config
    paths:
        - src
        - config
        - routes
        - database
        - tests
